@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan";
}

:root {
  --White: hsl(0, 100%, 100%);
  --Grey-500: hsl(0, 0%, 63%);
  --Grey-800: hsl(0, 0%, 27%);
  --Black: hsl(0, 0%, 0%);
}

p {
  font-size: 16px;
}

a,
button {
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999; /* ✅ ABOVE SLIDER */
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1.5rem;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  nav {
    /* yet to add */
    #desktop-navigation {
      display: none;
    }
    .navbar-toggler {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      background: none;
      border: none;
    }
    #mobile-navigation {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      #mobile-navlinks {
        padding: 32px 11px;
        display: flex;
        width: 100%;
        background-color: var(--White);
        gap: 30px;
        list-style: none;
        display: none;

        li {
          padding: 10px;
          a {
            text-decoration: none;
            text-transform: lowercase;
            color: var(--Black);
            font-weight: 700;
          }
        }
      }
    }
  }
}

/* SLIDES */

#slider-mobile {
  .slides {
    position: relative;
    width: 100%;
    overflow: hidden; /* in case images are too big */
    img {
      width: 100%;
      display: none;
      position: relative; /* Establishes a positioned ancestor */
    }
    img.displaySlide {
      display: block;
    }
  }

  .slide-buttons {
    position: absolute;
    bottom: 0; /* Aligns to the bottom */
    right: 0; /* Aligns to the right */
    display: flex;
    button {
      padding: 12px 18px;
      background-color: var(--Black);
      border: none;

      img {
        width: 8px;
        height: auto; /* Ensures the image height scales proportionally with the width */
        display: block;
      }
    }
  }
}

/* SLIDES */

.slide-info,
.about {
  font-weight: 500;
  padding: 28px 17px;
  p {
    padding: 21px 0;
    line-height: 1.25rem;
    color: var(--Grey-500);
  }
  a {
    text-decoration: none;
    color: var(--Black);
    letter-spacing: 0.5rem;
  }
  img {
    margin: 0 30px;
  }
  h4 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }
}

@media (min-width: 700px) {
  #menu {
    display: none;
  }

  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    #room-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    nav {
      #desktop-navigation {
        display: block;
      }
      #desktop-navlinks {
        display: flex;
        width: 100%;
        gap: 15px;
        list-style: none;

        li {
          padding: 10px;
          a {
            text-decoration: none;
            text-transform: lowercase;
            color: var(--White);
            font-weight: 700;
          }
        }
      }
    }
  }
}
